[Unit]
Description=DNS for docker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --rm --name dnsdock -p 172.17.0.1:53:53/udp -v /var/run/docker.sock:/var/run/docker.sock googollee/dnsdock
ExecStop=/usr/bin/docker stop dnsdock

[Install]
WantedBy=multi-user.target
