# This is the configuration file for the etcd server.

# Human-readable name for this member.
name: {{ vars.inventory_hostname_short }}

# Path to the data directory.
data-dir: /var/etcd/data

# Path to the dedicated wal directory.
wal-dir: /var/etcd/wal

# Number of committed transactions to trigger a snapshot to disk.
snapshot-count: 10000

# Time (in milliseconds) of a heartbeat interval.
heartbeat-interval: 1000

# Time (in milliseconds) for an election to timeout.
election-timeout: 5000

# Raise alarms when backend size exceeds the given quota. 0 means use the
# default quota.
quota-backend-bytes: 0

# List of comma separated URLs to listen on for peer traffic.
listen-peer-urls: https://0.0.0.0:2380

# List of comma separated URLs to listen on for client traffic.
listen-client-urls: https://0.0.0.0:2379

# Maximum number of snapshot files to retain (0 is unlimited).
max-snapshots: 5

# Maximum number of wal files to retain (0 is unlimited).
max-wals: 5

# Comma-separated white list of origins for CORS (cross-origin resource sharing).
cors:

# List of this member's peer URLs to advertise to the rest of the cluster.
# The URLs needed to be a comma-separated list.
initial-advertise-peer-urls: https://{{ vars.inventory_hostname_short }}.global.zhaohai.li:2380

# List of this member's client URLs to advertise to the public.
# The URLs needed to be a comma-separated list.
advertise-client-urls: https://{{ vars.inventory_hostname_short }}.global.zhaohai.li:2379

# Discovery URL used to bootstrap the cluster.
discovery:

# Valid values include 'exit', 'proxy'
discovery-fallback: 'proxy'

# HTTP proxy to use for traffic to discovery service.
discovery-proxy:

# DNS domain used to bootstrap initial cluster.
discovery-srv:

# Initial cluster configuration for bootstrapping.
initial-cluster: master1=https://master1.global.zhaohai.li:2380,master2=https://master2.global.zhaohai.li:2380,master3=https://master3.global.zhaohai.li:2380

# Initial cluster token for the etcd cluster during bootstrap.
initial-cluster-token: '{{ lookup("env", "ETCD_GLOBAL_KEY") }}'

# Initial cluster state ('new' or 'existing').
initial-cluster-state: 'existing'

# Reject reconfiguration requests that would cause quorum loss.
strict-reconfig-check: false

# Accept etcd V2 client requests
enable-v2: true

# Enable runtime profiling data via HTTP server
enable-pprof: true

# Valid values include 'on', 'readonly', 'off'
proxy: 'off'

# Time (in milliseconds) an endpoint will be held in a failed state.
proxy-failure-wait: 5000

# Time (in milliseconds) of the endpoints refresh interval.
proxy-refresh-interval: 30000

# Time (in milliseconds) for a dial to timeout.
proxy-dial-timeout: 1000

# Time (in milliseconds) for a write to timeout.
proxy-write-timeout: 5000

# Time (in milliseconds) for a read to timeout.
proxy-read-timeout: 0

client-transport-security:
  # Enable client cert authentication.
  client-cert-auth: true

  # Client TLS using generated certificates
  # Path to the client server TLS trusted CA key file.
  trusted-ca-file: /etc/etcd/ca.pem

  # Path to the client server TLS cert file.
  cert-file: /etc/etcd/api.pem

  # Path to the client server TLS key file.
  key-file: /etc/etcd/api-key.pem

  auto-tls: false

peer-transport-security:
  # Enable peer client cert authentication.
  client-cert-auth: true

  # Path to the peer server TLS trusted CA key file.
  trusted-ca-file: /etc/etcd/ca.pem

  # Path to the peer server TLS cert file.
  cert-file: /etc/etcd/peer.pem

  # Path to the peer server TLS key file.
  key-file: /etc/etcd/peer-key.pem

  # Peer TLS using generated certificates.
  auto-tls: false

# Enable debug-level logging for etcd.
debug: false

# Specify a particular log level for each etcd package (eg: 'etcdmain=CRITICAL,etcdserver=DEBUG'.
log-package-levels:

# Force to create a new one member cluster.
force-new-cluster: false
