[Unit]
Description=etcd for k8s
After=network.target
Requires=network.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/etcd --config-file /etc/etcd/etcd.conf.yaml

[Install]
WantedBy=multi-user.target
