[Unit]
Description=Enable CPU power saving

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/modprobe cpufreq_conservative
ExecStart=/usr/bin/sh -c '/usr/bin/echo "conservative" | tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor'

[Install]
WantedBy=multi-user.target
