---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: infra
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: infra
  interval: 30m
  install:
    createNamespace: true
  targetNamespace: infra
  releaseName: traefik
  install:
    crds: "Skip"
  upgrade:
    crds: "Skip"

  values:
    hostNetwork: true
    deployment:
      enabled: true
      kind: Deployment
      replicas: 1
    service:
      enabled: true
      single: true
      type: ClusterIP
    updateStrategy:
      type: Recreate
    autoscaling:
      enabled: false
    rbac:
      enabled: true
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop: [ALL]
        add: [NET_BIND_SERVICE]
      readOnlyRootFilesystem: true
    podSecurityContext:
      fsGroup: 65534
      runAsGroup: 65534
      runAsNonRoot: false
      runAsUser: 0

    global:
      checkNewVersion: false
      sendAnonymousUsage: false
    logs:
      general:
        level: INFO
        format: json
        noColor: true
      access:
        enabled: true
        format: json
    metrics:
      prometheus:
        entryPoint: metrics

    providers:
      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
      kubernetesCRD:
        enabled: true
      kubernetesGateway:
        enabled: true
      file:
        enabled: false

    ingressClass:
      enabled: true
    gatewayClass:
      enabled: true
    gateway:
      enabled: false

    ports:
      traefik: 
        port: 18888
        expose:
          default: false
        exposedPort: 18888
        protocol: TCP
      metrics: 
        port: 18889
        expose:
          default: false
        exposedPort: 18889
        protocol: TCP
      web:
        port: 80
        expose:
          default: true
        exposedPort: 80
      websecure:
        asDefault: true
        port: 443
        expose:
          default: true
        exposedPort: 443
        protocol: TCP
        http:
          tls:
            enabled: true
            # certResolver: cloudflare
            # domains:
            # - main: zhaohai.li
            #   sans: ['*.zhaohai.li']
      wansecure:
        port: 8443
        expose:
          default: true
        exposedPort: 8443
        protocol: TCP
        http:
          tls:
            enabled: true
            # certResolver: cloudflare
            # domains:
            # - main: zhaohai.li
            #   sans: ['*.zhaohai.li']

    # certificatesResolvers:
    #   cloudflare:
    #     acme:
    #       email: me@zhaohai.li
    #       caServer: https://acme-v02.api.letsencrypt.org/directory
    #       storage: /var/run/traefik/acme.json       # Path to store the certificate information.
    #       dnsChallenge:
    #         provider: cloudflare
    #         resolvers: ["1.1.1.1"]
