[Unit]
Description=Webserver frontend nginx
After=docker.service, dnsdock.service
Requires=docker.service, dnsdock.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --rm --dns 172.17.0.1 --name nginx -p 80:80 -p 443:443 -v /home/googol/dl:/var/www/dl googollee/nginx
ExecStop=/usr/bin/docker stop nginx

[Install]
WantedBy=multi-user.target
